# Heatmap showing relationship between swear words and track number
# Heatmap showing relationship between emotion words and track number
# Vulgarity over time
# Taylor Fav Number

## Creating DataFrames for Each Album's Data

In [1]:
#import needed packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#debut
debut_filepath = '01-taylor_swift.csv'
debut_1 = pd.read_csv(debut_filepath)
#fearless
fearless_filepath = '02-fearless_taylors_version.csv'
fearless_2 = pd.read_csv(fearless_filepath)
#speak now
speak_now_filepath = '03-speak_now_deluxe_package.csv'
speak_now_3 = pd.read_csv(speak_now_filepath)
#red 
red_filepath = '04-red_deluxe_edition.csv'
red_4 = pd.read_csv(red_filepath)
#1989
_1989_filepath = '05-1989_deluxe.csv'
_1989_5 = pd.read_csv(_1989_filepath)
#reputation
reputation_filepath = '06-reputation.csv'
reputation_6 = pd.read_csv(reputation_filepath)
#lover
lover_filepath = '07-lover.csv'
lover_7 = pd.read_csv(lover_filepath)
#folklore
folklore_filepath = '08-folklore_deluxe_version.csv'
folklore_8 = pd.read_csv(folklore_filepath)
#evermore
evermore_filepath = '09-evermore_deluxe_version.csv'
evermore_9 = pd.read_csv(evermore_filepath)
evermore_9.head()

,album_name,track_title,track_n,lyric,line
0,evermore (deluxe version),willow,1,I'm like the water when your ship rolled in th...,1
1,evermore (deluxe version),willow,1,"Rough on the surface, but you cut through like...",2
2,evermore (deluxe version),willow,1,And if it was an open-shut case,3
3,evermore (deluxe version),willow,1,I never would've known from that look on your ...,4
4,evermore (deluxe version),willow,1,Lost in your current like a priceless wine,5

## Merging All the Ablum DataFrames into a Discography  DataFrame

In [2]:
ts_data = pd.concat([debut_1, fearless_2, speak_now_3, 
                            red_4, _1989_5, reputation_6,
                            lover_7, folklore_8, evermore_9])
ts_data

,album_name,track_title,track_n,lyric,line
0,Taylor Swift,Tim McGraw,1,He said the way my blue eyes shined,1
1,Taylor Swift,Tim McGraw,1,Put those Georgia stars to shame that night,2
2,Taylor Swift,Tim McGraw,1,"I said, ""That's a lie""",3
3,Taylor Swift,Tim McGraw,1,Just a boy in a Chevy truck,4
4,Taylor Swift,Tim McGraw,1,That had a tendency of gettin' stuck,5
...,...,...,...,...,...
907,evermore (deluxe version),​it’s time to go,17,"You know, you know, you know, you know",50
908,evermore (deluxe version),​it’s time to go,17,When it's time to go,51
909,evermore (deluxe version),​it’s time to go,17,So then you go,52
910,evermore (deluxe version),​it’s time to go,17,Then you go,53
911,evermore (deluxe version),​it’s time to go,17,You just go,54

## Data Cleaning

#### A Fun Fact Before We Begin Data Cleaning!

In [3]:
ts_data['track_title'].nunique()

163

Taylor Swift has as of Fearless (Taylor's Version) 163 songs!

#### Check for any reoccuring errors in data

In [4]:
ts_data['lyric'].value_counts()

Joeboy 'Sip (Alcohol)' Official Lyrics & Meaning | Verified    26
Today was a fairytale                                          16
Look what you just made me do                                  13
(Eh, eh, eh, eh, eh)                                           12
I'd never walk Cornelia Street again                           12
                                                               ..
Younger than my exes, but he act like such a man, so            1
Hey, hey, hey                                                   1
I'm still trying everything to get you laughing at me           1
To fall in love with strangers, uh-uh, uh-uh                    1
Come back and tell me why                                       1
Name: lyric, Length: 5606, dtype: int64

#### Remove all occurences of "Joeboy 'Sip (Alcohol)' Official Lyrics & Meaning | Verified"

In [5]:
# Drop Line from Data Science Parichay
ts_data.drop(ts_data.index
             [ts_data['lyric'] == 
             "Joeboy 'Sip (Alcohol)' Official Lyrics & Meaning | Verified"],
             inplace=True)
# reset index
ts_data.reset_index(inplace=True)
del ts_data['index']
#check for occurences
ts_data.loc[ts_data.lyric == "Joeboy 'Sip (Alcohol)' Official Lyrics & Meaning | Verified"]

Empty DataFrame
Columns: [album_name, track_title, track_n, lyric, line]
Index: []

#### Switch Row from By Lyric to By Word

In [6]:
#turn each lyric entry from string to list of strings
ts_data = ts_data.assign(lyric =[lyric.split() for lyric in ts_data.lyric]) 
ts_data

,album_name,track_title,track_n,lyric,line
0,Taylor Swift,Tim McGraw,1,"[He, said, the, way, my, blue, eyes, shined]",1
1,Taylor Swift,Tim McGraw,1,"[Put, those, Georgia, stars, to, shame, that, ...",2
2,Taylor Swift,Tim McGraw,1,"[I, said,, ""That's, a, lie""]",3
3,Taylor Swift,Tim McGraw,1,"[Just, a, boy, in, a, Chevy, truck]",4
4,Taylor Swift,Tim McGraw,1,"[That, had, a, tendency, of, gettin', stuck]",5
...,...,...,...,...,...
8131,evermore (deluxe version),​it’s time to go,17,"[You, know,, you, know,, you, know,, you, know]",50
8132,evermore (deluxe version),​it’s time to go,17,"[When, it's, time, to, go]",51
8133,evermore (deluxe version),​it’s time to go,17,"[So, then, you, go]",52
8134,evermore (deluxe version),​it’s time to go,17,"[Then, you, go]",53
8135,evermore (deluxe version),​it’s time to go,17,"[You, just, go]",54

In [7]:
flattened_col = pd.DataFrame([(index, word) for (index, words) in ts_data['lyric'].iteritems() for word in words],
                              columns=['index','word']).set_index('index') #Mr.Gorton
ts_words = ts_data.drop('lyric', axis='columns').join(flattened_col)
ts_words.reset_index(inplace = True, drop = True)
ts_words

                      album_name       track_title  track_n  line  word
0                   Taylor Swift        Tim McGraw        1     1    He
1                   Taylor Swift        Tim McGraw        1     1  said
2                   Taylor Swift        Tim McGraw        1     1   the
3                   Taylor Swift        Tim McGraw        1     1   way
4                   Taylor Swift        Tim McGraw        1     1    my
...                          ...               ...      ...   ...   ...
58069  evermore (deluxe version)  ​it’s time to go       17    53   you
58070  evermore (deluxe version)  ​it’s time to go       17    53    go
58071  evermore (deluxe version)  ​it’s time to go       17    54   You
58072  evermore (deluxe version)  ​it’s time to go       17    54  just
58073  evermore (deluxe version)  ​it’s time to go       17    54    go

[58074 rows x 5 columns]

#### Get Rid of Special Characters Except ' and -

In [8]:
ts_words.loc[ts_words.word == "doin'"] # check for '

,album_name,track_title,track_n,line,word
6678,Fearless (Taylor’s Version),Tell Me Why (Taylor’s Version),8,13,doin'
6781,Fearless (Taylor’s Version),Tell Me Why (Taylor’s Version),8,27,doin'
6872,Fearless (Taylor’s Version),Tell Me Why (Taylor’s Version),8,41,doin'
35191,reputation,Don’t Blame Me,4,2,doin'
35284,reputation,Don’t Blame Me,4,16,doin'
35316,reputation,Don’t Blame Me,4,20,doin'
35417,reputation,Don’t Blame Me,4,33,doin'
35449,reputation,Don’t Blame Me,4,37,doin'
35548,reputation,Don’t Blame Me,4,52,doin'
35578,reputation,Don’t Blame Me,4,56,doin'
35583,reputation,Don’t Blame Me,4,56,doin'
37084,reputation,Gorgeous,8,7,doin'
39824,reputation,Call It What You Want,14,6,doin'

In [9]:
ts_words.loc[ts_words.word == "yeah?)"] #check for Special Characters

               album_name          track_title  track_n  line    word
16849  Speak Now (Deluxe)  Better Than Revenge       10    56  yeah?)

In [10]:
ts_words['word'] = ts_words.word.str.replace(r"[();:,.?""]",'') # changing regular expresion, this warning is okay

<ipython-input-10-185ab78c0d8d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  ts_words['word'] = ts_words.word.str.replace(r"[();:,.?""]",'') # changing regular expresion, this warning is okay

In [11]:
ts_words.loc[6678] # check for '

album_name        Fearless (Taylor’s Version)
track_title    Tell Me Why (Taylor’s Version)
track_n                                     8
line                                       13
word                                    doin'
Name: 6678, dtype: object

In [12]:
ts_words.loc[16849] #check for Special Characters

album_name      Speak Now (Deluxe)
track_title    Better Than Revenge
track_n                         10
line                            56
word                          yeah
Name: 16849, dtype: object

#### Switch to All Lowercase

In [13]:
ts_words['word'] = ts_words['word'].str.lower()

In [14]:
ts_words #check for all lowercase

                      album_name       track_title  track_n  line  word
0                   Taylor Swift        Tim McGraw        1     1    he
1                   Taylor Swift        Tim McGraw        1     1  said
2                   Taylor Swift        Tim McGraw        1     1   the
3                   Taylor Swift        Tim McGraw        1     1   way
4                   Taylor Swift        Tim McGraw        1     1    my
...                          ...               ...      ...   ...   ...
58069  evermore (deluxe version)  ​it’s time to go       17    53   you
58070  evermore (deluxe version)  ​it’s time to go       17    53    go
58071  evermore (deluxe version)  ​it’s time to go       17    54   you
58072  evermore (deluxe version)  ​it’s time to go       17    54  just
58073  evermore (deluxe version)  ​it’s time to go       17    54    go

[58074 rows x 5 columns]

### Yay, We Finished the Data Cleaning!!!

## Data Visualization

### Heatmap showing relationship between swear words and track number

###### Some Background for the Uncool People:
Taylor Swift is know for her Track 5s.  The Track 5 of every album is always the most emotional and vulnerable track of the ablum. Let's see if this is actually true by looking at the corralation between the number of swear words and track number!

In [15]:
swears = ['gosh', 'god', 'darn', 'damn', 'ass','asshole','shit', 'bitches', 'bitch', 'fuck', 'fucking', 'fucked']

In [24]:
#heatmap of Number of Swears words per track number, by album
swr_data = ts_words['word'].isin(swears).to_frame()
swr_data = swr_data.loc[:, ]
swr_data
# ts_data.drop('lyric', axis='columns').join(flattened_col)

ValueError: expr must be a string to be evaluated, <class 'bool'> given

### Heatmap showing relationship between swear words and track number
### Heatmap showing relationship between emotion words and track number
### Vulgarity over time
### Taylor Fav Number