In [4]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from shutil import copyfile

# copyfile(src, dst) - we will need to use relative paths to find the file
copyfile('../Unit2/people.csv', 'people.csv')

'people.csv'

In [5]:
#import as pd df
people = pd.read_csv('people.csv')
people

      name  height   num_friends       sport      shoes   gpa
0  Emerson       65          213      soccer   sneakers  3.06
1   Jessie       61          202  basketball  flip flop  2.41
2   Sawyer       67          314      tennis  flip flop  2.96
3   London       64          436      soccer   sneakers  3.98
4   Dakota       72          307  basketball   sneakers  3.15
5   Hayden       68          335      tennis  flip flop  3.50
6  Charlie       61           34    baseball  flip flop  1.10
7   Kamryn       66          200      soccer   sneakers  2.18

In [8]:
X = people['gpa'].values.reshape(-1, 1)
y = people['num_friends'].values.reshape(-1, 1)

In [9]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression()

In [10]:
print('Intercept')
print(regressor.intercept_)

Intercept
[-107.2114986]

In [11]:
print('Slope')
print(regressor.coef_)

Slope
[[129.75344623]]

In [12]:
print('R-Squared Score')
print(regressor.score(X,y))

R-Squared Score
0.9137344895912348